body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-color: white;
}

.navi {
    list-style-type: none;
    text-decoration: none;
}

.navi2 {
    list-style-type: none;
    text-decoration: none;
}

.lasagne-sec {
    float: left;
    margin-top: 50px;    
}

.lasagne-sec-pos {
    width: 1000px;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 50px;
    
}

.lasagne-side {
   float: right;
    width: 1000px;
}

.lasagne-footer {
    clear: both;
    margin-left: 100px;
}

a {
    text-decoration: none;
}

.spaghetti-sec {
    float: left;
}

.spaghetti-sec-pos {
    width: 1000px;
    margin-left: 100px;
}

.spaghetti-side {
    float: right;
    width: 1000px;
}